@media screen and (max-width: 780px) {
    form {
        display: grid;
        width: 277px;
        grid-template-rows: repeat(3, 60px);
    }

    input {
        height: 54px;
    }

    select {
        width: 277px;
    }

    .button {
        width: 277px;
    }

    em {
        margin: 28px auto 0;
    }
}

@media screen and (max-width: 505px) {
    .o-f {
        width: fit-content;
        margin: 20px auto;
    }

    .o-f p {
        width: fit-content;
    }
}

@media screen and (min-width: 780px) {

    .nav-btn {
        display: none;
    }

    .main-nav ul {
        position: static;
        padding: 0;
        background: transparent;
        float: right;
        width: 472px;
        font-size: 26px;
        margin-top: 51px;
        display: block;
    }

    .main-nav li {
        display: inline-block;
    }

    .main-nav a {
        display: inline-block;
        border: none;
        font-size: 16px;
        padding: 0 12px 0 0;
    }

    .logo {
        margin: 47px 0 0 40px;
    }
}

@media screen and (max-width: 860px) {
    .block {
        margin: 0 auto;
    }

    .feedback_container {
        grid-template-columns: auto;
    }

}

@media screen and (min-width: 1190px) {
    .main-nav ul {
        display: block;
    }

    body,
    .container {
        margin: 0;
    }

    h1 {
        font-size: 48px;
    }

    .static-block {
        margin: 0 0 0 auto;
    }
}

@media screen and (max-width: 1190px) {
    .block {
        width: fit-content;
    }

    .block h2,
    .block p,
    .block button,
    .block s {
        margin: 20px auto;
    }

    .clients_text_div {
        grid-column-start: span 2;
        margin-bottom: 20px;
    }

    .our_clients_container {
        grid-template-columns: auto auto;
    }

    .feedback {
        margin-top: 50px;
    }

}

@media screen and (max-width: 1190px) and (min-width: 860px) {

    .feedback_container {
        grid-template-columns: auto auto;
    }

}